.div-boton{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 60vw;
    height: 60vh;
    background-color: rgba(62, 61, 61, 0.3);
    border-radius: 30px;
    overflow: hidden;
    margin: auto;
    margin-top: 6%;
}

.div-boton::before{
    content: '';
    width: 220%;
    height: 220%;
    position: absolute;
    background: linear-gradient(whitesmoke, #39bda7);
    transform-origin: center;
    animation: rotate 5s linear infinite;
}

.div-boton::after{
    content: '';
    position: absolute;
    background-color: rgb(41, 41, 41);
    inset: 5px;
    border-radius: 30px;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.redes{
    z-index: 9999999;
}
.redes a{
    color: white;
    cursor: pointer;
    font-size: 60px;
    transition: 1.5s;
    &:hover{
        color:  #555;
        transition: 0.5s;
    }
    margin-left: 50px;
}

@media (min-width: 375px) and (max-width: 667px) {
    /* Estilos específicos para teléfonos medianos */
    .div-boton{
        margin-top: 25%;  
    }

    .div-boton::before{
        content: '';
        width: 240%;
        height: 240%;
        position: absolute;
        background: linear-gradient(whitesmoke, #39bda7);
        transform-origin: center;
        animation: rotate 5s linear infinite;
    }

    .redes a{
        font-size: 45px;
        margin-left: 47px;
    }
}

@media (min-width: 414px) and (max-width: 736px) {
    .div-boton{
        margin-top: 25%;
    }

    .div-boton::before{
        content: '';
        width: 240%;
        height: 240%;
        position: absolute;
        background: linear-gradient(whitesmoke, #39bda7);
        transform-origin: center;
        animation: rotate 5s linear infinite;
    }
}
