html, body {
  margin: auto;
  padding: 0;
}

body {
  background-image: url('./imagenes/svg-portfolio.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}






